<div class="event {{#if expired}}expired{{/if}}">
	<div class="event-title">
		<div class="event-and-group">
			<h2>
				{{#if url}}<a href="{{url}}">{{/if}}
					{{summary}}
				{{#if url}}</a>{{/if}}
			</h2>
			<h3><a href="{{groupUrl}}">{{groupName}}</a></h3>
		</div>
		<div class="group-logo">
			<a href="{{groupUrl}}">
				<img src="group-icons/{{group}}.png" alt="{{groupName}}" />
			</a>
		</div>
	</div>
	<p>{{description}}</p>
	{{#if location}}
	<div class="location">
		<a href="http://maps.google.com/?q={{mapQuery}}">{{location}}</a>
	</div>
	{{/if}}
	<div class="start-time">
		<time data-format="%A, %B %e, %Y" data-local="time" datetime="{{startDateJson}}">{{startDate}}</time>
		<br />
		<time data-format="@ %l:%M%P" data-local="time" datetime="{{startDateJson}}"></time>
	</div>
</div>
