<div class="event">
	<div class="event-title">
		<div class="event-and-group">
			<h2><a href="{{URL}}">{{SUMMARY}}</a></h2>
			<h3><a href="{{groupUrl}}">{{groupName}}</a></h3>
		</div>
		<div class="group-logo">
			<a href="{{groupUrl}}">
				<img src="group-icons/{{group}}.png" alt="{{groupName}}" />
			</a>
		</div>
	</div>
	<p>{{DESCRIPTION}}</p>
	<time data-format="%A, %B %e, %Y @ %l:%M%P" data-local="time" datetime="{{jsonDate}}">{{startDate}}</time>
</div>
