<!DOCTYPE html>

<!--[if IE 9]>     <html class="ie ie9 lte9"> <![endif]-->
<!--[if gt IE 9]>  <html> <![endif]-->
<!--[if !IE]><!--> <html>             <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/favicon.png">
    <title>{{title}}</title>

    <meta property="og:url"                content="{{og-url}}" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="{{title}}" />
    <meta property="og:description"        content="{{og-description}}" />
    <meta property="og:image"              content="{{og-image}}" />

    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

    <div class="nav-container" data-object="menu-object">
      <div class="nav-table nav-table_container">

        <div class="nav-cell">
          <nav role="navigation" class="nav-table nav-table_navigation">
            <ul>
              <li class="nav-cell">
                <a class="nav-link" data-object="nav-id-1" href="/" title="Louisville Technology Event Calendar">Event Calendar</a>
              </li>
              <li class="nav-cell">
                <a class="nav-link" data-object="nav-id-2" href="/jobs.html" title="Technology Jobs">Tech Jobs</a>
              </li>
              <li class="nav-cell">
                <a class="nav-link" data-object="nav-id-3" href="/groups.html" title="Technology Groups">Tech Groups</a>
              </li>
              <li class="nav-cell">
                <a class="nav-link" data-object="nav-id-4" href="/conferences.html" title="Technology Conferences">Conferences</a>
              </li>
              <li class="nav-cell">
                <a class="nav-link" data-object="nav-id-5" href="/coworking.html" title="Coworking Spaces">Coworking Spaces</a>
              </li>
              <li class="nav-cell">
                <a class="nav-link" data-object="nav-id-6" href="/community-survey/" title="Community Survey">Community Survey</a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="nav-cell nav-cell_utility show-mobile">
          <div class="utility-table">
            <div class="utility-cell utility-cell_toggle">
              <a role="button" aria-expanded="false" class="utility-link" href="#toggle-menu" title="Toggle Menu" data-behavior="toggle-menu"><i aria-hidden="true" class="fa fa-bars"></i><span class="screen-reader-text">Menu</span></a>
            </div>
            <div class="utility-cell mobile-hero-wrapper">
              <a href="/" class="mobile-hero-link"><img class="mobile-hero-logo" title="LouisvilleTech.org" src="images/louisville-tech-logo.svg" alt="LouisvilleTech.org"></a>
            </div>
          </div>
        </div>
        <div class="nav-cell nav-cell_utility hide-mobile">
          <div class="utility-table">
            <div class="utility-cell">
              <a class="utility-link" href="https://github.com/louisvilletech/louisvilletech.org" title="Fork LouisvilleTech.org on GitHub"><i aria-hidden="true" class="fa fa-github"></i><span class="screen-reader-text">Fork LouisvilleTech.org on GitHub</span></a>
            </div>
            <div class="utility-cell">
              <div class="slack-wrapper" style="width: 100px;">
                <a href="https://join.slack.com/t/louisville/shared_invite/zt-9l0fgrht-EpCk7jDw7LvcgETaYPV46g">
                  <img src="/images/btn-add-to-slack.svg" alt="Add to Slack" />
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="l-page">
      {{> body}}
    </div>

    <footer class="l-footer" role="contentinfo">
      <div class="l-container">
        <ul class="footer-nav">
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="/">LouisvilleTech.org Home</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="/code-of-conduct.html">Code of Conduct</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="/how-to-submit-changes.html">How to Submit Changes</a>
          </li>
        </ul>
      </div>
    </footer>

    <script type="text/javascript" src="/js/moment.min.js"></script>
    <script type="text/javascript" src="/js/louisvilletech.org.js"></script>
  </body>
</html>
