<main role="main" class="l-content">
  <div class="l-container">

    <h1>Louisville Technology User Groups &amp; Meetups</h1>
    <p>A directory of technology-centric user groups and meeetups in Louisville, Kentucky.</p>

    <div class="batch-g batch-g--gutter batch-g--padding">

      {{#each-sorted-by-name groups}}
        <div class="batch-c-1-1 batch-c-md-1-2 batch-c-lg-1-4 event">

          <div class="event-table">
            <div class="event-cell event-cell_image">
              <a href="{{web}}">
                <img class="event-image" src="group-icons/{{@key}}.png" alt="{{name}}" />
              </a>
            </div>

            <div class="event-cell">
              <h2 class="event-title">
                  <a href="{{web}}">{{name}}</a>
                </h2>
            </div>
          </div>
          {{#if frequency}}
            <h3 class="io-icon io-group">
              {{frequency}}
            </h3>
          {{/if}}

          {{#if mailing-list}}
            <h3 class="io-icon io-mail">
              <a href="{{mailing-list}}">Mailing List</a>
            </h3>
          {{/if}}

          {{#if freenode}}
            <h3 class="io-icon io-freenode">
              <a href="https://webchat.freenode.net/?channels={{freenode}}">{{freenode}} on Freenode</a>
            </h3>
          {{/if}}

          {{#if twitter}}
            <h3 class="io-icon io-twitter">
              <a href="https://twitter.com/{{twitter}}">@{{twitter}}</a>
            </h3>
          {{/if}}

          {{#if slack}}
            <h3 class="io-icon io-slack">
              <a href="{{slack}}">Slack</a>
            </h3>
          {{/if}}

          {{#if facebook}}
            <h3 class="io-icon io-facebook">
              <a href="{{facebook}}">Facebook</a>
            </h3>
          {{/if}}

          {{#if description}}
            <p class="event-description">
              {{description}}
            </p>
          {{/if}}
        </div>
      {{/each-sorted-by-name}}

    </div>

  </div>
</main>

<script type="text/javascript">
window.onload = function() {
  setMenuState(3);
}
</script>
