{{#each events}}
	<div class="event">
		<h2><a href="{{groupUrl}}">{{groupName}}</a></h2>
		<h2><a href="{{URL}}">{{SUMMARY}}</a></h2>
		<p>{{DESCRIPTION}}</p>
    <time data-format="%B %e, %Y %l:%M%P"
      data-local="time"
      datetime="{{jsonDate}}">{{startDate}}</time>
	</div>
{{/each}}

